/* ============== Comon CSS ========== */
* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #f0f;
}

body {
    background-color: #000;
}

/* ============ Handle Color Plate ================= */
.colorPlate {
    height: 470px;
    border: 5px solid rgb(0, 140, 255);
    width: 100px;
    border-right: none;
    background: #fff;
}

.penPlate {
    height: 470px;
    border: 5px solid rgb(0, 140, 255);
    width: 50px;
    background: #fff;
    border-left: none;
}

.colorComponant {
    padding: 5px;
}

#canvas {
    border: 5px solid rgb(0, 140, 255);
    background: #fff;
}

.container {
    display: flex;
    width: 900px;
    /* border: 1px solid cyan; */
    margin: 5% auto;
}

small {
    text-align: center;
    font-weight: 700;
}


/* ============= Handle COlor ================= */
.color1 {
    height: 40px;
    width: 45%;
    float: left;
    cursor: cell;
}

.color2 {
    height: 40px;
    width: 45%;
    float: left;
    margin-left: 8%;
    cursor: cell;
}

.colorSet {
    height: 60px;
    width: 100%;
}

.aqua {
    background-color: aqua;
}

.brown {
    background-color: brown;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.cyan {
    background-color: cyan;
}

.darkBlue {
    background-color: darkblue;
}

.darkViolet {
    background-color: darkviolet;
}

.deepPink {
    background-color: deeppink;
}

.magenta {
    background-color: magenta;
}

.green {
    background-color: green;
}

.MediumSpringGreen {
    background-color: mediumspringgreen;
}

h4 {
    color: rgb(11, 192, 138);
    text-align: center;
    margin-top: -4%;
    word-spacing: 5px;
    font-family: 'Pacifico', cursive;
}

.gitLink {
    color: orangered;
}

/* ==================== Handle Pen ================= */
.pen1 {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: rgb(177, 173, 173);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 22px auto;
    text-align: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    cursor: cell;
}
.cleanAll{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
}

.activePen{
    background: lightgreen;
}

.pen1:hover {
    background: rgb(154, 255, 86);
}

.erager:hover {
    background: red;
}

img {
    height: 30px;
    width: 30px;
}

/* ========= Alhamdulillah End ============ */